.nav__wrapper {
	height: 9rem;
}
.nav__inner {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__logo-img {
	background: url(../../img/Logo.svg) no-repeat;
	width: 45px;
	height: 30px;
}
.nav__menu {
	height: 9rem;
	position: relative;
	z-index: 2;
}
#check-menu {
	display: none;
}
#check-menu:checked ~ .nav__menu__main-menu{
	max-height: unset;
	display: block;
}
#check-menu:checked ~ .nav__menu__label > .nav__menu__label__bar {
	background: url(../../img/Close_Icon.png) no-repeat;
	width: 20px;
	height: 20px;
	margin-left: 6rem;
	@media (min-width: $large-bot) and  (max-width: $large-top) {
		margin-left: 3rem;
	}
	@media (min-width: $mid-bot) and  (max-width: $mid-top) {
		margin-left: 3rem;
	}
	@media (min-width: $small-bot) and  (max-width: $small-top) {
		margin-left: 3rem;
	}
}
.nav__menu__label {
	cursor: pointer;
	z-index: 4;
}
.nav__menu__main-menu {
	position: absolute;
	width: 42rem;
	transform: translate(-75%, 0px);
	padding-left: 6.5rem;
	display: block;
	max-height: 0;
	overflow: hidden;
	background-color: #2c4755;
	padding-top: 10rem;
	top: 0;
	display: none;
	z-index: -1;
	@media (min-width: $mid-bot) and  (max-width: $mid-top) {
		width: 37rem;
	}
	@media (min-width: $small-bot) and  (max-width: $small-top) {
		width: 35rem;
	}
}
.nav__menu__label__bar {
	background: url(../../img/Nav-bar.svg)no-repeat;
	width: 27px;
	height: 15px;
	margin-left: 4rem;
	margin-top: 3.5rem;
	z-index: 4;
}
.nav__menu__main-menu__title {
	color: #637988;
	font-family: "Work Sans";
	font-size: 2.1rem;
	font-weight: 400;
}
.nav__menu__main-menu__link__first-group {
	margin: 0;
	color: #ffffff;
	font-family: "Work Sans";
	font-size: 2.9rem;
	font-weight: 400;
	transition-duration: 0.2s;
	&:hover {
		color: #10cab7;
	}
}
.nav__menu__main-menu__link__second-group {
	margin: 0;
	color: #ffffff;
	font-family: "Work Sans";
	font-size: 2.1rem;
	font-weight: 400;
	transition-duration: 0.2s;
	&:hover {
		color: #10cab7;
	}
}
.nav__menu__main-menu__third-group {
	color: #637988;
	font-family: "Work Sans";
	font-size: 1.5rem;
	font-weight: 400;
	margin-top: 12rem;
}
.nav__menu__main-menu__link {
	text-decoration: none;
	cursor: pointer;
}