.header__wrapper {
	background-color: #f6f6f6;
}
.header__hello {
	height: 46rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header__hello__head {
	color: #10cab7;
	font-size: 5.5rem;
	font-family: "Work Sans";
	font-weight: "Extra Bold";
	margin-top: 5rem;
	margin-bottom: 0;
}
.header__hello__slogan {
	height: 5rem;
	width: 35.7rem;
	text-align: center;
	color: #2c4755;
	font-family: "Work Sans";
	font-size: 2rem;
	font-weight: 400;
	margin-top: 6.2rem;
}