// Font
$mainFont : 'Montserrat',
Helvetica,
Arial,
sans-serif;

// Size
$mainFontColor : #101010;
$mainFontSize : 10px;
$mainFontWeight : 400;
$mainLineHeight : 1.4;


//мои переменные
$xlarge-top : 1399px;
$xlarge-bot : 1024px;

$large-top : 1023px;
$large-bot : 768px;

$mid-top : 767px;
$mid-bot : 425px;

$small-top : 424px;
$small-bot : 320px; 


/*screen sizes*/
$xl-up: 1400px;
$xl-down: 1399px;

$lg-up: 1200px;//
$lg-down: 1199px;

$md-up: 992px;//
$md-down: 991px;

$sm-up: 768px;//
$sm-down: 767px;

$xs-up: 650px;
$xs-down: 649px;

$xxs-up: 450px;
$xxs-down: 449px;

/*container sizes*/
$lg-container: 1170px;//
$md-container: 970px;//
$sm-container: 750px;//